@page "/"
@using Forum.Services
@inject BehaviourService BehaviourService 
<PageTitle>Forum</PageTitle>

<div class="fon">
    ㅤ
</div>

<div class="page">
    <HeaderMenu onSearchChanged="@OnSearchChanged"/>
    <div class="contentMain">
        <div class="sideLeft">
            <NavMenu onDataChanged="@OnFilterChanged"></NavMenu>
        </div>
        
        <div class="sideRight">
            <PostContent Filter="@Filter" RegUser="null" Search="@Search" SortName="@Filter" IsProflie="false" onDataChanged="@OnFilterChanged"></PostContent>
        </div>
        
    </div>
</div>


@code {
    private string Filter { get; set; }
    private string Search { get; set; }
    protected override void OnInitialized()
    {
        BehaviourService.isProfile = false;
        BehaviourService.SelectInterest = "";
    }

    public void OnFilterChanged(string newValue)
    {
        Filter = newValue;
        StateHasChanged();
    }

    private void OnSearchChanged(string newValue)
    {
        Search = newValue;
        StateHasChanged();
    }
}