@using Forum.Services
@using Forum.MongoDB
@inject BehaviourService BehaviourService

<div hidden="@BehaviourService.isShowCommentContent" class="background">
    <div class="field">
        <div class="content1">
            <p>Header</p>
            <button @onclick="@ShowCheck">Close</button>
        </div>
        
        
        <div class="content2">
            <div class="card">
                <div class="postCard">
                    <div class="leftSide">
                        @if (@PostChoose.Likes != null)
                        {
                            <p>@PostChoose.Likes.Count</p>
                        }
                        else
                        {
                            <p>0</p>
                        }

                    </div>
    
                    <div class="rightSide">
                        <div class="rowCard">
                            @* <p>@PostChoose.Username.ToString() * </p> *@
                            <p> posted by  @PostChoose.CreatePost.ToString()</p>
                        </div>
                        @if (@PostChoose.Text != null)
                        {
                            @if (PostChoose.Text.Length < 20)
                            {
                                <div class="rowCard">
                                    <p style="font-size: 25px">@PostChoose.Text</p>
                                </div>  
                            } else if (PostChoose.Text.Length >= 20 && PostChoose.Text.Length <= 210)
                            {
                                <div class="rowCard">
                                    <p style="font-size: 20px">@PostChoose.Text</p>
                                </div>   
                            }
                            else
                            {
                                <div class="rowCard">
                                    <p style="font-size: 15px">@PostChoose.Text</p>
                                </div>   
                            }
                        }
                       
                        @if (@PostChoose.NameImage != null)
                        {
                            <div class="rowCard">
                                @{
                                    FileSystemService.DownloadToLocalByName(@PostChoose.NameImage, "imgSource");
                                }
                                ;
                                <img class="imgPost" src="imgSource/@PostChoose.NameImage" alt="img"/>
                            </div>    
                        }
                        
                    </div>
                </div>
               
            </div>
            
             <CreateComment CurrentPost="PostChoose"/>
            
             <div class="contentComments">
                 @if (@PostChoose.Comments != null)
                 {
                     @foreach (var comment in @PostChoose.Comments)
                     {
                         <div class="commentField">
                             <p>@comment.Username</p>
                             <p>@comment.Text</p>
                             <p>@comment.Rating</p>
                         </div>
                     }   
                 }
             </div>
             
             <div class="footer">
                 <p>footer</p>
             </div>
             
        </div>
        
    </div>
</div>

@code {
    
    [Parameter]
    public Post PostChoose { get; set; }
    
    // [Parameter]
    // public bool HiddenContent { get; set; }

    void ShowCheck()
    {
        BehaviourService.isShowCommentContent = true;
        StateHasChanged();
    }
}