@using Forum.MongoDB
@using System.IO
@inject NavigationManager NavigationManager
@inject UserDbConnection UserDbConnection
@inject FileSystemService FileSystemService

<div class="menu">
    <div class="box1">
        <div class="text-box">
            <a href="#" @onclick="@HomeClick" class="btn btn-white btn-animate">Home</a>
        </div>
        
    </div>
    
    <div class="box2">
        <p>Search</p>
    </div>
    
    <div class="box3">
        @if (UserDbConnection.isLoginUser != null)
        {
            <button onclick="@SignInClick">Profile</button>
            @if (UserDbConnection.isLoginUser.NameImage != "")
            {
                <img class="userImg" src="imgUser/@fileName" alt="img"/>    
            }
        }
        else
        {
            <button onclick="@SignInClick">Sign in</button>    
        }
    </div>
</div>

<div hidden="@isClickSign">
    <Authorization IsActiveCard="@isClickSign"/> 
</div>


@code {
    bool isClickSign = true;
    string fileName;
    
    protected override void OnInitialized()
    {
        fileName = FileSystemService.GetNameOfDir("imgUser");
    }
    
    void SignInClick()
    {
        if (UserDbConnection.isLoginUser != null)
        {
            NavigationManager.NavigateTo("profile");
        }
        else
        {
            if (isClickSign)
            {
                isClickSign = false;
            }
            else
            {
                isClickSign = true;
            }
        }
    }

    void HomeClick()
    {
        NavigationManager.NavigateTo("/");
    }
    
    public static void RemoveFolder()
    {
        String path = $"{Directory.CreateDirectory(Directory.GetCurrentDirectory() + "/wwwroot/imgUser/")}";
        DirectoryInfo dirInfo = new DirectoryInfo(path);
 
        foreach (FileInfo f in dirInfo.GetFiles())
        {
            f.Delete();
        }
    }
}