@using Forum.MongoDB
@using System.IO
@inject NavigationManager NavigationManager
@inject UserDbConnection UserDbConnection
@inject FileSystemService FileSystemService
@inject Forum.Services.BehaviourService BehaviourService  

<div class="menu">
    <div class="box1">
        <div class="btn-12">
            <a href="#" @onclick="@HomeClick" class="btnHeader">Forum</a>
        </div>
        
    </div>
    
    <div class="box2">
        <span class="oi oi-magnifying-glass" aria-hidden="true">  </span> 
            <p>Search</p>
         <span class="oi oi-magnifying-glass" aria-hidden="true">  </span>
    </div>
    
    <div class="box3">
        @if (UserDbConnection.isLoginUser != null)
        {
            <button class="btnSign" onclick="@SignInClick">Profile</button>
            @if (UserDbConnection.isLoginUser.NameImage != "")
            {
                @if (fileName != "")
                {
                    <img class="userImg" src="imgUser/@fileName" alt="img"/>    
                }
            }
        }
        else
        {
            <button class="btnSign" onclick="@SignInClick">Sign in</button>    
        }
    </div>
</div>

<div hidden="@isClickSign">
    <Authorization IsActiveCard="@isClickSign"/> 
</div>


@code {
    bool isClickSign = true;
    String fileName = "";

    protected override void OnInitialized()
    {
       // fileName = FileSystemService.GetNameOfDir("imgUser");
        DataUpdating();
    }
    
    
    public async Task DataUpdating()
    {
        while(true) {
            if (fileName != FileSystemService.GetNameOfDir("imgUser"))
            {
                fileName = FileSystemService.GetNameOfDir("imgUser");
            }
            StateHasChanged();
            await Task.Delay(500);
        }
    }
    
    void SignInClick()
    {
        if (UserDbConnection.isLoginUser != null)
        {
            NavigationManager.NavigateTo("profile");
        }
        else
        {
            if (isClickSign)
            {
                isClickSign = false;
            }
            else
            {
                isClickSign = true;
            }
        }
    }

    void HomeClick()
    {
        NavigationManager.NavigateTo("/");
    }
    
    public static void RemoveFolder()
    {
        String path = $"{Directory.CreateDirectory(Directory.GetCurrentDirectory() + "/wwwroot/imgUser/")}";
        DirectoryInfo dirInfo = new DirectoryInfo(path);
 
        foreach (FileInfo f in dirInfo.GetFiles())
        {
            f.Delete();
        }
    }
}