@using Forum.MongoDB
@inject NavigationManager NavigationManager
@inject UserDbConnection UserDbConnection

<div class="menu">
    <div class="box1">
        <div>
            <button @onclick="@HomeClick">Home</button>    
        </div>
    </div>
    
    <div class="box2">
        <p>Search</p>
    </div>
    
    <div class="box3">
        @if (UserDbConnection.isLoginUser != null)
        {
            <button onclick="@SignInClick">Profile</button>
            @if (UserDbConnection.isLoginUser.NameImage != "")
            {
                <img class="userImg" src="imgUser/@fileName" alt="img"/>    
            }
        }
        else
        {
            <button onclick="@SignInClick">Sign in</button>    
        }
    </div>
</div>

<div hidden="@isClickSign">
    <Authorization IsActiveCard="@isClickSign"/> 
</div>


@code {
    bool isClickSign = true;
    string fileName;
    
    protected override void OnInitialized()
    {
        GetNamesOfDir();
    }
    
    void SignInClick()
    {
        if (UserDbConnection.isLoginUser != null)
        {
            NavigationManager.NavigateTo("profile");
        }
        else
        {
            if (isClickSign)
            {
                isClickSign = false;
            }
            else
            {
                isClickSign = true;
            }
        }

        
    }

    void HomeClick()
    {
        NavigationManager.NavigateTo("/");
    }
    
    
    public void  GetNamesOfDir()
    {
        String path = $"{Directory.CreateDirectory(Directory.GetCurrentDirectory() + "/wwwroot/imgUser/")}";
        path = path.Replace("/", @"\");
        DirectoryInfo info = new DirectoryInfo($"{path}");

        List<String> listNames = new List<string>();
        
        foreach (var item in info.GetFiles())
        {
            listNames.Add(item.Name);
        }
        if (listNames.Count > 1)
        {
            RemoveFolder();
        }
        if (listNames.Count == 1)
        {
            fileName = listNames[0].ToString();
        }
        
        
    }
    
    public static void RemoveFolder()
    {
        String path = $"{Directory.CreateDirectory(Directory.GetCurrentDirectory() + "/wwwroot/imgUser/")}";
        DirectoryInfo dirInfo = new DirectoryInfo(path);
 
        foreach (FileInfo f in dirInfo.GetFiles())
        {
            f.Delete();
        }
    }
}