@using Forum.Services
@using System.Threading
@inject PostService PostService

<div class="content">
    @if (_posts != null)
    {
        @foreach (var post in _posts)
        {
            <div class="postCard">
                <div class="leftSide">
                    <p>@post.Likes.Count</p>
                    <button>Like</button>
                </div>

                <div class="rightSide">
                    <div class="rowCard">
                        <p>@post.UserId.ToString() * </p>
                        <p> posted by  @post.CreatePost.ToString()</p>
                    </div>
                    <div class="rowCard">
                        <p>@post.Text</p>
                    </div>
                    <div class="rowCard">
                        <button>@post.Comments.Count.ToString() Comments</button>
                    </div>
                    
                </div>

            </div>
        }
    }
    
</div>


@code {
    List<Comment> comments;
    List<Post> _posts;
   
   

    protected override void OnInitialized()
    {
        
        StateHasChanged();
        _posts = PostService.GetPosts();

        DataUpdating();
    }

    public async Task DataUpdating()
    {
       
        while(true) {
            StateHasChanged();
            _posts = PostService.GetPosts();
            await Task.Delay(1000);
        }
    }
}

