

<div class="content">
    @if (_posts != null)
    {
        @foreach (var post in _posts)
        {
            <div class="postCard">
                <div class="leftSide">
                    <p>@post.Likes.Count</p>
                    <button>Like</button>
                </div>

                <div class="rightSide">
                    <div class="rowCard">
                        <p>@post.UserId.ToString() * </p>
                        <p> posted by  @post.CreatePost.ToString()</p>
                    </div>
                    <div class="rowCard">
                        <p>@post.Text</p>
                    </div>
                    <div class="rowCard">
                        <button>@post.Comments.Count.ToString() Comments</button>
                    </div>
                    
                </div>

            </div>
        }
    }
    
</div>


@code {
    List<Comment> comments;
    List<Post> _posts;
   
    


    protected override void OnInitialized()
    {
       comments = new()
        {
            new Comment{UserId = 1, Rating = 12, Text = "Cool"},
            new Comment{UserId = 13, Rating = 22, Text = "Text"},
            new Comment{UserId = 134, Rating = 142, Text = "Cool"},
            new Comment{UserId = 11, Rating = 42, Text = "Cool"},
        };
        // error
        _posts = new()
        {
            new Post
            { 
                UserId = 1, Comments = comments, Rating = 123, Text = "COOL!!!", CreatePost = DateTime.Now, Likes = new List<int>(){1, 21,13}
            },
            new Post
            { 
                UserId = 1, Comments = comments, Rating = 123, Text = "COOL!!!", CreatePost = DateTime.Now, Likes = new List<int>(){1, 21,13}
            }
        };
    }
}

