@using Forum.MongoDB
@using System.IO
@using Microsoft.AspNetCore.Routing.Constraints
@inject PostDbConnection PostDbConnection
@inject UserDbConnection UserDbConnection
@inject FileSystemService FileSystemService 
@inject NavigationManager NavigationManager

<div class="cardProfile">
    
    @if (CrntUser != null)
    {
        <div class="boxTop">
            @if (fileName != "")
            {
                <img class="userImg" src="imgUser/@fileName" alt=" "/>
            }
            @* <div class="inputFile"> *@
                @* <InputFile OnChange="@OnSubmit" class="invisible" multiple type="file"/> *@

            @* </div> *@
            
            <label for="filePicker2" class="label">
              <span class="title"><img class="imgtool" src="icons/Image.svg" alt="img"/></span>

                <InputFile id="filePicker2" class="invisible" OnChange="@OnSubmit" multiple></InputFile>
            </label>
            
        </div>
    
        
        
        <div class="boxEnd">
            <h3>@CrntUser.Username.ToString()</h3>
        
            <div class="cardRow">
                <p>Id:  </p>
                <p>@CrntUser._id.ToString()</p>
            </div>

            <div class="cardRow">
                <p>Email:  </p>
                <p>@CrntUser.Email</p>
            </div>
            
            <div class="boxDevide">
                <p>devide</p>
            </div>
            
            <div class="boxBottom">
                <div class="cardRow">
                    <p>Posts</p>
                    <p>@countPosts.ToString()</p>
                </div>
                
                <div class="cardRow">
                    <p>Likes</p>
                    <p>@countLikes.ToString()</p>
                </div>
                
                <div class="cardRow">
                    <p>Comments</p>
                    <p>@countComments.ToString()</p>
                </div>
            </div>
            
            <button class="btnLogOut" @onclick="@ClickSignOut"><img src="icons/LogOut.svg"> <p>Log Out</p></button>
            
        </div> 
    }
</div>

@code {
    [Parameter]
    public User CrntUser { get; set; }
    string fileName;
    int countPosts = 0;
    int countLikes = 0;
    int countComments = 0;
    protected override void OnInitialized()
    {
        FileSystemService.RemoveFolder("imgUser");
        countPosts = PostDbConnection.FindUserPostsByUsername(CrntUser.Username).Count;
        countLikes = PostDbConnection.FindUserLikesByUsername(CrntUser.Username);
        countComments = PostDbConnection.FindUserCommentsByUsername(CrntUser.Username);

        if (CrntUser.NameImage != null)
        {
            FileSystemService.DownloadToLocalByName(CrntUser.NameImage, "imgUser");
            fileName = FileSystemService.GetNameOfDir("imgUser");
            StateHasChanged();
        }
    }

    private async Task OnSubmit(InputFileChangeEventArgs e)
    {
        String folder = "imgUser";
        String pathFolder = $"/wwwroot/{folder}/";
        FileSystemService.RemoveFolder(folder);
        foreach (var file in e.GetMultipleFiles(e.FileCount))
        {
            try
            {
                Stream stream = file.OpenReadStream();
                var path = $"{Directory.CreateDirectory(Directory.GetCurrentDirectory() + pathFolder)}{file.Name}";
                FileStream fs = File.Create(path);
                await stream.CopyToAsync(fs);
                stream.Close();
                fs.Close();
               // StateHasChanged();
            }
            catch (Exception ex)
            {
                Console.WriteLine(ex);
            }
        }
    
        fileName = FileSystemService.GetNameOfDir("imgUser");
        if (fileName != "")
        {
            ConfirmImage(fileName);
        }
     //   NavigationManager.NavigateTo("/profile");
        StateHasChanged();
    }
    
    void ConfirmImage(String filename)
    {
        FileSystemService.UploadImageToDb("imgUser");
        CrntUser.NameImage = fileName;
        UserDbConnection.UpdateUser(CrntUser);
    }

    void ClickSignOut()
    {
        FileSystemService.RemoveFolder("imgUser");
        UserDbConnection.isLoginUser = null;
        NavigationManager.NavigateTo("/");
    }

}